@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto
}
html {
  scroll-behavior: smooth;
}

.test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.btn {
  @apply text-[18px] md:text-[22px]
}

.nav-open {
  clip-path: circle(100%);
}

.nav-close {
  clip-path: circle(25px at calc(24px + 0.5rem ) calc(24px + 0.5rem ));
}

@media (min-width: 640px) {
  .nav-close {
    clip-path: circle(25px at calc(((100% - 640px) / 2) + 24px) calc(24px + 0.5rem));
  }
}
@media (min-width: 768px) {
  .nav-close {
    clip-path: circle(25px at calc(((100% - 768px) / 2) + 24px) calc(24px + 0.5rem));
  }
}
@media (min-width: 1024px) {
  .nav-close {
    clip-path: circle(25px at calc(((100% - 1024px) / 2) + 24px) calc(24px + 0.5rem));
  }
}